/* You can add global styles to this file, and also import other style files */

  .heading-cursor-pointer{ 
      cursor: pointer;
    }
  
  .field-icon {
    /*float: right;*/
    margin-left: 0px;
    margin-top: -25px;
    /* top: 6px; */
    position: relative;
    z-index: 2;
    width: 20px;
    
  }