<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form  class="form" #regForm="ngForm">
          <!-- {{regForm.value | json}}
          <br/>
          {{registerUserData | json}} -->
          <div class="form-group">
            <label for="">Email</label>
            <input #emailNew="ngModel" [ngModel]="registerUserData.email" pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$"
              [class.is-invalid]="emailNew.invalid && emailNew.touched" name="emailNew" type="email" class="form-control rounded-0"
              required minlength="5" maxlength="20">

            <div *ngIf="regForm.controls.emailNew?.invalid && (regForm.controls.emailNew?.dirty  || emailNew.touched)">
              <small class="form-text text-danger" *ngIf="regForm.controls.emailNew?.errors?.required && emailNew.touched">
                Your email is required.
              </small>
              <!-- <small class="form-text text-danger" *ngIf="regForm.controls.emailNew?.errors?.invalid">
                Your email is invalid.
              </small> -->
              <small class="form-text text-danger" *ngIf="regForm.controls.emailNew?.errors?.minlength">
                Your email is required to be at least 5 characters.
              </small>
              <!-- <small class="form-text text-danger" *ngIf="regForm.controls.emailNew?.errors?.maxlength">
                Your email cannot be longer than 20 characters.
              </small> -->
              <small class="text-danger" *ngIf="!regForm.controls.emailNew?.errors?.minlength && regForm.controls.emailNew?.errors?.pattern">Invalid
                email</small>

            </div>
          </div>
          <!-- <div class="form-group">
            <label for="email">Email</label>
            <input #email="ngModel" pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$"  [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" required>
           
            <div *ngIf="email.errors && (email.invalid || email.touched)">
              <small class="text-danger" *ngIf="email.errors.required && email.touched">This field is required</small>
              <small class="text-danger" *ngIf="email.errors.pattern">Invalid email</small>
            </div>
          </div> -->
          <div class="form-group">
            <label for="phone">Phone</label>
            <input #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]="registerUserData.phone" name="phone"
              type="text" class="form-control rounded-0" jhiIsPhoneOnly required maxlength="15">

            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
              <small class="text-danger" *ngIf="phone.errors.required && phone.touched">This field is required</small>
              <!-- <small class="text-danger" *ngIf="phone.errors.pattern">Invalid phone</small> -->
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input #password="ngModel" [(ngModel)]="registerUserData.password" [class.is-invalid]="password.invalid && password.touched"
              name="password" [type]="showPass?'text':'password'" class="form-control rounded-0" required>
            <app-show-password (isShowPass)="onClickPass($event)"></app-show-password>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <small class="text-danger" *ngIf="password.errors.required && password.touched">This field is required</small>
              </div>
            <div class="row">
              <div class="col-md-12">
                  <small>Password strength:</small> &nbsp;<span><small>{{passStrengthText}}</small></span>
                <password-strength-meter [password]="password.value" (strengthChange)="receiveStrengthFromChildComponent($event,password.value)"></password-strength-meter>
                <!-- https://www.npmjs.com/package/angular-password-strength-meter -->
              </div>
              
            </div>


           
          </div>

          <div class="form-group">
            <label for="cfmPassword">Confirm Password</label>
            <input #cfmPassword="ngModel" [ngModel]="" [class.is-invalid]="cfmPassword.invalid && cfmPassword.touched" name="cfmPassword"
              type="password" class="form-control rounded-0" [type]="showPassConfirm?'text':'password'" compare="password"
              required>
            <app-show-password (isShowPass)="onClickPassConfirm($event)"></app-show-password>

            <div *ngIf="cfmPassword.invalid && (cfmPassword.dirty || cfmPassword.touched)">
              <small class="text-danger" *ngIf="cfmPassword.errors.required && cfmPassword.touched">This field is required
              </small>
              <!-- <small class="text-danger" *ngIf="cfmPassword.errors.required && cfmPassword.errors.compare">Pasword confirm do not match</small> -->
              <small class="text-danger" *ngIf="cfmPassword.errors.compare">Pasword confirm do not match</small>
            </div>
          </div>
          <div class="form-group">
            <re-captcha [(ngModel)]="registerUserData.captcha" name="captcha" required siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU" #captchaControl="ngModel" ></re-captcha>
            
            <!-- <div *ngIf=" (captchaControl.valid || captchaControl.pristine)">
              <small class="text-danger" *ngIf="cfmPassword.valid && (captchaControl.valid || captchaControl.pristine)">Captcha must be solved</small>
            </div> -->
          </div>
          <button (click)="registerUser()" type="button" class="btn btn-primary float-right" [disabled]="!regForm.valid"> Register</button>
        </form>

      </div>
    </div>
  </div>
</div>

<br/>
<div class="card">

  <div class="card-body">
    <h5 class="card-title">Form Status: {{regForm.Status}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Form Value</h6>
    <pre>{{regForm.value | json}}</pre>
    <pre>{{captchaControl.className}} test</pre>
  </div>
</div>
<br/>