<!-- Error Page -->
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
     
        <h3 *ngIf="httpCode==='404'">Oops! Page not found</h3>
        <h1 *ngIf="httpCode==='404'"><span>4</span><span>0</span><span>4</span></h1>
     
        <h3 *ngIf="httpCode==='401'">Oops! Access denied</h3>
        <h1 *ngIf="httpCode==='401'"><span>4</span><span>0</span><span>1</span></h1>
     
    </div>
    <h2 *ngIf="httpCode==='404'">we are sorry, but the page you requested was not found</h2>
    <h2 *ngIf="httpCode==='401'">we are sorry, but the page you requested denied access</h2>
  </div>
</div>
<!-- Error Page -->
